{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h1 class="heading-large">
          Confirmation and next steps
        </h1>

        <p>
          Your application has been submitted.  
        </p>
        <p>
        You've chosen to pay at the consulate. Bring your credit or debit card with you for your appointment. If you wish to pay in cash, consulates accept local currency rather than British pounds.
        </p>
<p>

        You must attend the British Consulate General Amsterdam in person to complete your application. Click Next below to book your appointment.

        </p>

  <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="small">
   You'll need to bring with you:
  </strong>

  </div>

  <div>
  </div>

  <p>
  </p>


           <ul class="list list-bullet">
      
        <li>proof of your travel plans, eg flight booking confirmations (or detailed written plans if you can't book ahead)</li>
        <li>a local police report if your passport has been stolen or your current passport if you still have it</li>
        <li>proof of residency if your final destination is outside of the UK or the <a href="/EEA">European Economic Area</a></li>
        <li>a passport-sized photograph (<a href="/photo">passport photo requirements</a>)</li>
      </uL>

<br>
</br>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">bring docs and feedback</legend>

            <label for="nationality_british" class="block-label">
              <input type="checkbox" name="nationality_british" value="docs" id="nationality_british">
              I confirm that I'll bring the necessary documents
            </label>

            <label for="nationality_irish" class="block-label">
              <input type="checkbox" name="nationality_irish" value="Irish" id="nationality_irish">
              I am happy to be contacted for feedback to help improve this service
            </label>

            <br>
            </br>
            <br>
            </fieldset>

<p>
</p>

<br>
</br>


      

        <p>

        <a href="/printform">Download a print ready application form</a>
</p>
       

       

       

       Opens a printable version of your application in a new tab.  You do not have to do this but printing your application in advance will save you time at the consulate. If you are using a shared computer delete your application form after you have printed it.

      

        
          </fieldset>
        </div>

         <div class="form-group">
    <a href="/cancelpassport/appointment" class="button">Next</a>
  </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
