{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">



  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h3 class="heading-large">
          Previous names
        </h3>
        <p>
        <h1 class="heading-small">
        
      
        Have you been known by any other names?
        </h1>
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">previous names</legend>

                   
            <label for="radio-yes" class="block-label" data-target="yes"> 
              <input id="radio-yes" type="radio" name="previousname" value="yes">
             
              Yes
            </label>

            <label for="radio-no" class="block-label">
              <input id="radio-no" type="radio" name="previousname" value="no">
            
             No
            </label>
</div>
            <div class="panel panel-border-narrow js-hidden" id="yes">
              <label class="form-label" for="yes">
              <p>
                For the sake of this test, please select No.
                </p>
            </div>
          </fieldset>
          <p>
        <a class="button button-start" href="/cancelpassportv6/contact" role="button">next</a>
      </p>
        </div>



      </form>

    </div>
  </div>
</main>
            

{% endblock %}
