{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Thank you.
        </h1>

        <p>
          You have successfully completed Laura's prototype. I look forward to hearing your feedback. 
        </p>

        <p>
          <a href="start-page">Start again</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
