{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      

        <h3 class="heading-large">
         An error has occured
        </h3>

        <p> We are experiencing technical problems and are unable to process your application for an emergency travel document. If you don't receive an email from us, unfortunately any data you've entered might be lost.</p>

        <p> If you require urgent assistance, please <a href="/Thankyou">contact your nearest consulate</a> so that we can help with your enquiry.</p>

          <p> <a href="cancelpassportv3/start-page">apply for an emergency travel document</a> again. </p>

        


          
        </div>

       </fieldset>
       




      </form>

    </div>
  </div>
</main>
            

{% endblock %}
