{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Please go back.
        </h1>

        <p>
For the sake of this test you are not required to provide a passport photo!        </p>

        <p>
          <a href="nextsteps">Back to Next steps</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
