{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">



  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h3 class="heading-large">
          Are you a British citizen?
        </h3>

        <p>If you're not sure <a href="/radio-buttons-checkboxes">check if you're a British citizen.</a> </p>

        <p> British overseas citizens, British overseas territories citizens, British protected persons, British subjects and British nationals (overseas) should answer no. </p>


        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">What is your nationality?</legend>

            <label for="nationality_british" class="block-label">
              <input type="checkbox" name="nationality_british" value="British" id="nationality_british">
              Yes
            </label>

            <label for="nationality_irish" class="block-label">
              <input type="checkbox" name="nationality_irish" value="Irish" id="nationality_irish">
              No
            </label>

            